.hint_overlay {
    position: absolute;
    pointer-events: none;
}

.invisible {
    visibility: hidden;
}

.msg {
    grid-column: 2;
    grid-row: 2;
}

.nav {
    grid-column: 2;
    grid-row: 3;
    margin-top: 10px;

    font-size: 13px;
}

.exit {
    grid-column: 3;
    grid-row: 1;
}

.exit > .img {
    width: 13px;
    height: 13px;
}