.text {
    display: grid;

    grid-template-columns: 10% auto 10%;
    grid-auto-rows: 100px;

    align-items: center;
    justify-items: center;
}

.text_body {
    grid-column: 2;
    grid-row: 2;
}


.questions {
    grid-column: 2;
    display: grid;
    grid-template-columns: 10% auto 10%;
}


.question {
    grid-column: 2;
}


iframe {
    border: 0;
}