Django==2.2.28
django-taggit
ipython
rjsmin
django-csp
hypothesis[django]
faker
jsonschema
channels==2.4.0
python-statemachine
django-sendgrid-v5
sqlparse
requests
pymorphy2[fast]
pymorphy2-dicts-ru
channels_redis==3.0.1
lxml
pdfkit
asynctest
Twisted[tls,http2]
pytz
webstack-django-jwt-auth
django-cors-headers
# this is new
PyJWT>=2.0.1
whitenoise
