Django==2.2
django-taggit
ipython
rjsmin
django-csp
hypothesis[django]
faker
jsonschema
channels
python-statemachine
django-sendgrid-v5
sqlparse
requests
pymorphy2[fast]
pymorphy2-dicts-ru
channels_redis
lxml
pdfkit
asynctest
Twisted[tls,http2]
pytz
webstack-django-jwt-auth