{% extends "base_unauthed.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    {{ block.super }}
    <div id="body">
    <div id="about">
    <div id="title">About This Website</div>
        <p>
            {% blocktrans %}
            This page will give you an overview of the STAR (Steps to Advanced Reading) website’s functionality without
            requiring you to create an account. The main function of the website is to allow students to read texts at
            and above their proficiency level in Russian and answer comprehension questions on them. The secondary
            function of the site allows students to save words encountered in texts to flashcards and to review and
            build their vocabulary. The texts and comprehension questions included in the site have been leveled
            according the to ACTFL Proficiency Guidelines, and cover the proficiency ranges Intermediate-Mid through
            Advanced-Mid.
            {% endblocktrans %}
        </p>

        <p>
            {% blocktrans %}
            The goal of the website is to prepare students to read better in order to reach the ILR-2 level in Reading
            and qualify for the Overseas Flagship program.
            {% endblocktrans %}
        </p>

        <p>
            {% blocktrans %}
            The pedagogical model is one of microlearning, where students who engage in regular curated reading and
            vocabulary learning should become more proficient readers. The website has been designed to be
            mobile-friendly. The screenshots show how the website looks on a Samsung Galaxy J7 Prime phone using
            the Android operating system.
            {% endblocktrans %}
        </p>

        <ol>
            <li>
                <p>
                    {% blocktrans %}
                    The starting place for users is the login page for the STAR website.
                    On this page students can create an account, or log in if they already have established an account.
                    Instructors who want to add or edit texts on this site can access the instructor log in from this page.
                    {% endblocktrans %}
                </p>
                <img src="{% static "img/tutorial/1.jpg" %}" alt="{{ alt_txt_1 }}" title="{{ alt_txt1 }}">
            </li>

            <li>
                <p>
                    {% blocktrans %}
                    When students log into the STAR website, they immediately see their Profile page.
                    The profile page contains information related to the user and links to the site’s two main functions:
                    reading texts and reviewing flashcards.  On the Profile page, students can read through the
                    descriptions of the various proficiency levels and choose the one that they feel fits their current
                    level and create their own username (which is shown at the top right corner of the page).
                    {% endblocktrans %}
                </p>
                <img src="{% static "img/tutorial/2.jpg" %}" alt="{{ alt_txt_2 }}" title="{{ alt_txt_2 }}">
            </li>

            <li>
                <p>
                    {% blocktrans %}
                    The Student Profile page also presents statistics about the students’ use of the site and reading
                    performance. For each proficiency level and cumulatively, they can see how many texts they read and
                    what percentage of questions they answered correctly in different time frames. They can download this
                    information as a PDF which they can choose to share with an advisor.
                    {% endblocktrans %}
                </p>
                <img src="{% static "img/tutorial/3.jpg" %}" alt="{{ alt_txt_3 }}" title="{{ alt_txt_3 }}">
            </li>

            <li>
                <p>
                    {% blocktrans %}
                    When students follow the “Find a text to read” link, they land on the Text Search page, where
                    students can use three different filters to find texts to read. The first filter is for the text and
                    question difficulty. If the student has set a difficulty level on their Profile page, then that level
                    will be pre-selected in this filter. Students can easily select and deselect levels.
                    {% endblocktrans %}
                </p>
                <img src="{% static "img/tutorial/4.jpg" %}" alt="{{ alt_txt_4 }}" title="{{ alt_txt_4 }}">
            </li>

            <li>
                <p>
                    {% blocktrans %}
                    The second filter sorts texts by topic. Each text is tagged by which topics they address, and students
                    can select what sounds interesting to them. There are 19 subject area tags.
                    {% endblocktrans %}
                </p>
                <img src="{% static "img/tutorial/5.jpg" %}" alt="{{ alt_txt_5 }}" title="{{ alt_txt_5 }}">
            </li>

            <li>
                <p>
                    {% blocktrans %}
                    The final filter helps students find texts they’ve previously completed reading, texts that they
                    haven’t finished reading, and texts they have not started. Once students have selected their desired
                    filters, they can see a list of texts fitting those criteria. Each entry in the list includes the
                    reading’s title, difficulty level, author, number of text sections, topics, and if applicable, the
                    last time the text was read and the number of questions answered correctly.
                    {% endblocktrans %}
                </p>
                <img src="{% static "img/tutorial/6.jpg" %}" alt="{{ alt_txt_6 }}" title="{{ alt_txt_6 }}">
                <p>
                    {% blocktrans %}
                    If students do not use any of the filters (i.e., difficulty, topic tags, and read status),
                    they will find a full list of texts included in the site.
                    {% endblocktrans %}
                </p>
            </li>

            <li>
                <p>
                    {% blocktrans %}
                    Once a student has found a text to read, they click on the title and come to a brief pre-reading screen
                    that orients them to the genre and type of text.
                    {% endblocktrans %}
                </p>
                <img src="{% static "img/tutorial/7.jpg" %}" alt="{{ alt_txt_7 }}" title="{{ alt_txt_7 }}">
            </li>

            <li>
                <p>
                    {% blocktrans %}
                    After clicking “start,” students begin to read the text. While short texts may only have one section,
                    longer texts will be broken up into multiple sections.
                    {% endblocktrans %}
                </p>
                <img src="{% static "img/tutorial/8.jpg" %}" alt="{{ alt_txt_8 }}" title="{{ alt_txt_8 }}">
            </li>

            <li>
                <p>
                    {% blocktrans %}
                    If a student encounters an unknown word that seems critical to their comprehension, then they can
                    click on the word and receive the English translation for it. They can also choose to add this new word
                    to their flashcards for later review.
                    {% endblocktrans %}
                </p>
                <img src="{% static "img/tutorial/9.jpg" %}" alt="{{ alt_txt_9 }}" title="{{ alt_txt_9 }}">
            </li>

            <li>
                <p>
                    {% blocktrans %}
                    At the the end of each text section, there are comprehension questions with three or four possible
                    answers. To ensure that students are understanding what they have just read, they must answer the
                    questions before proceeding to the next section of the text.
                    {% endblocktrans %}
                </p>
                <img src="{% static "img/tutorial/10.jpg" %}" alt="{{ alt_txt_10 }}" title="{{ alt_txt_10 }}">
            </li>

            <li>
                <p>
                    {% blocktrans %}
                    When student answers an answer correctly, the answer box is bordered in green. When they answer a
                    question incorrectly, it is bordered in red. Additionally, the student receives feedback explaining
                    why their selected answer was correct or incorrect, and if the student answered incorrectly, the
                    feedback also tells which answer was correct and why. The feedback boxes provide a parsed bilingual
                    guide to the part of the text related to the question.
                    {% endblocktrans %}
                    </p>
                    <img src="{% static "img/tutorial/11_left.jpg" %}" alt="{{ alt_txt_11_left }}"
                         title="{{ all_txt_11_left }}">

                    <img src="{% static "img/tutorial/11_right.jpg" %}" alt="{{ alt_txt_11_right }}"
                         title="{{ alt_txt_11_right }}">
            </li>

            <li>
                <p>
                    {% blocktrans %}
                    At the end of a text, the student will see a post-reading page, which tells them how many comprehension
                    questions they answered correctly for that text, links to related readings outside of the website, and
                    a message directing them back to the Search Texts page.
                    {% endblocktrans %}
                </p>
                <img src="{% static "img/tutorial/12.jpg" %}" alt="{{ alt_txt_12 }}" title="{{ alt_txt_12 }}">
            </li>

            <li>
                <p>
                    {% blocktrans %}
                    Once a student has added words to their flashcard deck, they can review those words. Students can work
                    with flashcards in two modes “Review Only” and “Review and Answer”.
                    {% endblocktrans %}
                </p>
                <img src="{% static "img/tutorial/13.jpg" %}" alt="{{ alt_txt_13 }}" title="{{ alt_txt_13 }}">
            </li>

            <li>
                <p>
                    {% blocktrans %}
                    When students are reviewing a flashcard in “Review Only” mode, they will initially see the Russian word
                    and the context that they encountered the word in. They can guess the word, and then double-click the
                    flashcard to flip it over and see if their guess was correct.
                    {% endblocktrans %}
                </p>
                <img src="{% static "img/tutorial/14_left.jpg" %}" alt="{{ alt_txt_14_left }}"
                     title="{{ alt_txt_14_left }}">

                <img src="{% static "img/tutorial/14_right.jpg" %}" alt="{{ alt_txt_14_right }}"
                     title="{{ alt_txt_14_right }}">
            </li>

            <li>
                <p>
                    {% blocktrans %}
                    When students are reviewing a flashcard in “Review and Answer” mode, they must type a translation for
                    the word on the flashcard. Once they have answered correctly, they will be asked to judge how difficult
                    it was for them to answer the card. This mode uses spaced repetition, so their self-assessment will
                    determine when they will next encounter the card.
                    {% endblocktrans %}
                </p>
                <img src="{% static "img/tutorial/15_left.jpg" %}" alt="{{ alt_txt_15_left }}"
                     title="{{ alt_txt_15_left }}">

                <img src="{% static "img/tutorial/15_right.jpg" %}" alt="{{ alt_txt_15_right }}"
                     title="{{ alt_txt_15_right }}">
            </li>
        </ol>
    </div>
    </div>
{% endblock %}