(function () {
    "use strict";
    var node = document.getElementsByClassName("content")[0];

    var app = Elm.Main.embed(node, {
        csrftoken: "{{ csrf_token }}",

        {% for k, v in elm.items %}
            {% with value=v.value %}
                {{ k }}:
                {% if v.quote %}
                    {% if v.safe %}
                        "{{ value|safe }}"
                    {% else %}
                        "{{ value }}"
                    {% endif %}
                {% else %}
                    {% if v.safe %}
                        {{ value|safe }}
                    {% else %}
                        {{ value }}
                    {% endif %}
                {% endif %}
                {% if not forloop.last %},{% endif %}
            {% endwith %}
        {% endfor %}
    });
   {% block port_functions %}
       function clearInputText(elem_id) {
            var input = document.getElementById(elem_id);

            if (input) {
                input.value = '';
            }
       }

       app.ports.clearInputText.subscribe(function (elem_id) {
            // wrap call in requestAnimationFrame to ensure that Elm has time to finish refreshing the view
            window.requestAnimationFrame(function (timestamp) {
                clearInputText(elem_id);
            });
       });
   {% endblock %}
}());