body {
    background: #FFFFFF;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;

    font-family: "Helvetica Neue";
    font-size: 14px;
}

.menu_item > a:hover {
    padding-bottom: 5px;
    border-bottom: solid #f2f2f2 3.5px;
}

.menu_item > a {
    color: #333333;
    text-decoration: none;
}

.button {
  font-size: 18px;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 10px 5px 10px 6px;
}

.header {
    display: grid;
    grid-gap: 0;
    grid-template-rows: 73px;

    grid-template-columns: 15% 5% 5% 75%;

    background: #f9f9f9;

    font: "Lucida Console";
    font-size: 18px;

    align-items: center;
    justify-items: center;

    border: solid 0.5px lightgrey;
}

.menu {
    display: grid;

    grid-area: 1 / 4;
    grid-template-columns: 10% 15% 15% 15% 15% 15% 15%;

    grid-column-gap: 70px;

    align-items: center;
    justify-items: center;
}

.menu_item {
    text-align: center;
    font: "Lucida Console";
}

.menu_item_selected {
    padding-bottom: 5px;
    border-bottom: solid #f2f2f2 3.5px;
}

.filter {
    grid-column: 2 / 2;
}

.filter_items {
    display: grid;
    margin-top: 50px;
    margin-bottom: 0;
    grid-template-columns: 4% auto 4%;

    align-items: right;
    justify-items: right;

    grid-auto-rows: 50px;

    grid-row-gap: 35px;
    row-gap: 35px;

}

.item_property {
    display: grid;

    align-items: center;
    justify-items: center;

    font-size: 23px;
    font-weight: 300;
}

.sub_description {
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;

    display: block;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message {
    margin: 8px;
    color: #737373;
}


.text_items {
    display: grid;
    margin-top: 2%;
    grid-row-gap: 35px;
    row-gap: 35px;

    grid-template-columns: 4% auto 4%;
    grid-auto-rows: 110px;
}

.footer_items {
    margin-top: 100px;
    margin-bottom: 0;

    display: grid;
    grid-template-columns: 4% auto 4%;

    align-items: center;
    justify-items: center;
}

.footer {
    grid-column: 2 / 2;
}

.text_item {
    display: grid;
    grid-column: 2;

    align-items: center;
    justify-items: center;

    grid-template-columns: 2% 20% repeat(auto-fill, 13%) 21% 2%;

    background: #f9f9f9;
    border: solid 0.5px lightgrey;
}

.tag {
    font-size: 15px;
}

.msgs {
    display: grid;
    grid-template-columns: auto;

    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;

    font-size: 18px;
}

.success_msg {
    background-color: #93c6ef;
}

.error_msg {
    background-color: #ff2222;
}

.text_tag {
    display: inline-block;

    padding: 2px;

    font-family: proxima-nova, proxima-nova-1, proxima-nova-2, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 200;

    background: white;

    margin-right: 5px;

    border: solid 1px lightgrey;
    border-radius: 5px;
}

.text_tag > img {
    margin-left: 2px;
    margin-right: 2px;
}

.cursor {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}