body {
    background: #f9f9f9;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}

.header {
    grid-gap: 0;
    display: grid;
    grid-row-gap: 100px;
    grid-template-rows: 67px;

    background: #FFFFFF;

    align-items: center;
    justify-items: center;

    border: solid 0.5px lightgrey;
}

.menu {
    grid-area: 1 / 6;
    display: grid;
    grid-template-rows: 35px;
    grid-template-columns: 100px;

    align-items: center;
    justify-items: center;
}

.menu_item {
    font: "Lucida Console";
    grid-area: 1;
    grid-column: auto;
}

.filter {
    display: grid;
    margin-top: 50px;
    margin-bottom: 0;
    grid-template-columns: 4% auto 4%;
}

.text_items {
    margin-top: 2%;
    display: grid;
    grid-row-gap: 5%;

    grid-template-columns: 4% auto 4%;
    grid-auto-rows: 110px;
}

.text_item {
    display: grid;
    grid-column: 2;

    align-items: center;
    justify-items: center;

    grid-template-columns: 2% 36% repeat(auto-fill, 20%) 2%;

    background: #FFFFFF;
    border: solid 0.5px lightgrey;
}

