#text_search {
    display: grid;

    grid-row-gap: 35px;
    row-gap: 35px;

    grid-column-gap: 15px;
    column-gap: 15px;

    font-family: proxima-nova, proxima-nova-1, proxima-nova-2, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 200;

    margin-top: 15px;

    grid-template-columns: 4% auto 4%;
}

#text_search_filters {
    grid-column: 2;

    border: solid 0.5px lightgrey;
    background: white;

    padding: 10px 10px 10px 10px;

    grid-row-gap: 15px;
    row-gap: 15px;
}

#text_search_filters_label {
    font-weight: bolder;
}

#text_search_results {
    grid-column: 2;

    display: grid;

    grid-row-gap: 20px;
    row-gap: 20px;
}

.search_filter {
    display: inline-block;
    padding: 15px 15px 15px 15px;
}

.search_filter_title {
    font-weight: bolder;
    margin-bottom: 5px;
}

.search_result {
    grid-column: 1;
    display: grid;

    align-items: center;
    justify-items: center;

    grid-template-columns: 25% 25% 25% 25%;

    background: white;

    border: solid 0.5px lightgrey;

    grid-auto-rows: 75px;
}

.sub_description {
    display: block;

    align-items: center;
    justify-items: center;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
}

#text_search_btn {
    display: inline-block;
    cursor: pointer;
    background: white;

    padding: 15px 15px 15px 15px;
}

#text_search_footer {
    grid-column: 2;
}

#footer_items {
    margin-bottom: 0;

    display: grid;
    grid-column: 2;
    grid-template-columns: 4% auto 4%;

    align-items: center;
    justify-items: center;
}

#footer {
    grid-column: 2 / 2;
}

.message {
    margin: 8px;
    color: #737373;
}

.difficulty_option {
    display: grid;
    cursor: pointer;

    border: solid 1px black;

    margin-top: 2px;
    padding: 5px 5px 5px 5px;

    align-content: center;
    justify-content: center;
}

.difficulty_option_selected {
    background-color: #a4a4a4;
    filter: brightness(85%);
}

.difficulty_option:hover {
    background-color: #a4a4a4;
    filter: brightness(85%);
}

@media only screen and (max-width:480px) {
    .header {
        display: flex;
    }

    #text_tag_search {
        width: 250px;
    }

    #text_search_filters {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .search_filter {
        padding: 15px 0 0 0;
    }

    .difficulty_option {
        display: flex;
    }

    input[type='checkbox'] {
        width:30px;
        height:30px;
        background:white;
        border-radius:5px;
        border:1px solid #a4a4a4;
    }

    input[type='checkbox']:checked {
        background: #abd;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;

        align-items: center;
        justify-items: center;
    }

    .filter {
        display: none;
    }
}
