.text {
    display: grid;

    grid-auto-rows: minmax(200px, auto);

    margin-top: 50px;
    margin-bottom: 0;
    grid-template-columns: 4% auto 4%;
}

.text {
    display: grid;
    grid-column: 2;

    grid-template-columns: 10% auto 10%;
}

.text_body {
    align-items: center;
    justify-items: center;

    grid-column: 2;
}


.questions {
    display: grid;
    padding-top: 85px;

    grid-column: 2;
    grid-template-columns: 10% auto 10%;
    grid-row-gap: 10%;
    row-gap: 10%;

    border-top: rgb(238, 238, 238) solid 1px;
}


.question {
    margin: 5px 5px 5px 5px;
    grid-column: 2;
}

.answers {
    margin-top: 20px;
}
.answer {
    margin: 10px 10px 10px 10px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .text {
        font-size: 60px;
    }

    .filter {
        visibility: hidden;
    }

    .header {
        background: #FFFFFF;

        font: "Lucida Console";
        font-size: 60px;

        border: solid 0.5px lightgrey;
    }

    .question {
    }

    input[type="radio"] {
        -ms-transform: scale(3); /* IE 9 */
        -webkit-transform: scale(3); /* Chrome, Safari, Opera */
        transform: scale(3);
        margin-right: 10%;
    }
    .answer {
    }

    .questions {
        align-content: left;
        border-top: rgb(238, 238, 238) solid 5px;
    }

    .text {
        display: inline-block;
    }

    .text_body {
        grid-column: 2;
    }
}
