#flashcard {
    padding-top: 100px;
}

#content {
    display: grid;

    padding: 10px;
    grid-template-columns: 30% [card-col] auto 30%;
    grid-template-rows: [card-row] minmax(200px, auto) 150px [card-controls] auto;
}

#loading {
    display: grid;
    grid-column: card-col;
    
    justify-content: center;
}

#card {
    display: grid;
    grid-column: card-col;

    border: 1px solid grey;
    background: #f8f8f8;

    text-decoration-line: underline;
    font-size: x-large;

    align-content: center;
    justify-content: center;
}

#mode-choices {
    display: grid;
    grid-column: card-col;

    align-content: center;
    justify-content: center;

    grid-auto-flow: column;

    grid-column-gap: 2%;

    grid-auto-columns: 250px;
    grid-auto-rows: 100px;
}

.mode-choice {
    display: grid;

    font-weight: 300;

    outline: solid black 0.5px;

    grid-template-columns: auto;
    grid-row-gap: 5%;

    text-align: center;

    min-height: 250px;

    grid-template-rows: [name] auto [desc] 100px [select] auto;
}

.mode-choice .name, .mode-choice .desc {
    padding: 15px;
}

.mode-choice .name {
    font-weight: 500;
}

.selected {
    outline: solid black 1px;
}

#nav {
    display: grid;

    grid-template-columns: 25% [nav] auto 25%;
    grid-template-rows: minmax(25px, auto);

    grid-column: card-col;
    grid-row: card-controls;

    align-content: center;
    justify-content: center;
    text-align: center;
}

#nav #start {
    grid-column: nav;

    padding: 15px;

    outline: solid black 0.5px;
}

#controls {
    padding-top: 15px;

    display: grid;
    grid-area: card-controls / card-col;

    grid-template-columns: auto auto;
}
