.text {
    display: grid;

    grid-template-columns: 50% 50%;
    margin: 5px;
    padding: 5px 25px 0 15px;

    border: solid 0.5px lightgrey;
}

.text > div {
    margin: 2px 0 7px 0;
}

.invites {
    grid-column: 1;

    grid-template-columns: auto;
    grid-template-rows: 25px 35px;

    margin-bottom: 15px;
}

.invite {
    margin-top: 15px;
}

.invite > .label {
    margin-top: 5px;
}

.invite > .value {
    font-size: larger;
}

#create_invite {
    margin-top: 15px;
}

#create_invite > #submit {
    margin-top: 5px;
}

.invites > .profile_item_value > .list {
    display: grid;

    grid-template-columns: auto;
}