.login, .signup {
    display: grid;

    grid-auto-rows: minmax(250px, auto);

    margin-top: 50px;
    margin-bottom: 0;
    grid-template-columns: 4% 15% 10% auto 10% 15% 4%;
}

.login_box, .signup_box {
    display: grid;

    grid-column: 4;
    grid-template-columns: auto;
    grid-auto-rows: 50px;
}

.login_label, .signup_label {
    display: inline-block;
    padding-top: 15%;
}

.login_submit {
    display: grid;
    justify-content: center;
}

.cursor {
    cursor: pointer;
}

.submit_btn {
}

.input_error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}