{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructor Admin</title>
    <link rel="stylesheet" href="{% static "css/ereader.css" %}"/>
    <script type="text/javascript" src="{% static "admin.js" %}"></script>
</head>
<body>
<div class="header">EReader
    <div class="menu">
        <span class="menu_item">+</span>
    </div>
</div>

<div class="filter"></div>

<div class="text_items">
    <div class="text_item">
        <div class="selected_text">x</div>
        <div class="title">test modified April 17th, 2018</div>
        <div class="status">Active</div>
        <div class="questions">0 Questions</div>
        <div class="languages">1 Languages</div>
        <div class="action_menu">&#9660;</div>
    </div>
    <div class="text_item">
        <div class="selected_text">x</div>
        <div class="title">test2 modified April 17th, 2018</div>
        <div class="status">Inactive</div>
        <div class="questions">3 Questions</div>
        <div class="languages">1 Languages</div>
        <div class="action_menu">&#9660;</div>
    </div>
    <div class="text_item">
        <div class="selected_text">x</div>
        <div class="title">test3 modified April 17th, 2018</div>
        <div class="status">Active</div>
        <div class="questions">2 Questions</div>
        <div class="languages">0 Languages</div>
        <div class="action_menu">&#9660;</div>
    </div></div>

</body>
</html>