{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructor Admin - Create A New Quiz</title>
    <link rel="stylesheet" href="{% static "css/ereader.css" %}"/>
    <link rel="stylesheet" href="{% static "admin/css/create_quiz.css" %}"/>
    <script type="text/javascript" src="{% static "admin/js/create_quiz.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/ckeditor/ckeditor.js" %}"></script>
</head>
<body>
{% csrf_token %}
<div class="content">
</div>

<script src="{% static "admin/js/load_elm.js" %}"></script>

</body>
</html>