{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Steps To Advanced Reading - Flashcards</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/ereader.css" %}"/>
    <link rel="stylesheet" href="{% static "text/css/text.css" %}"/>
{% endblock %}

{% block scripts %}
    <script src="{% static "flashcards/js/flashcards.js" %}"></script>
{% endblock %}

{% block body %}
    <script src="{% url "flashcard-load-elm" %}"></script>
{% endblock %}