{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Steps To Advanced Reading - Instructor Admin - Create A New Quiz</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/ereader.css" %}"/>
    <link rel="stylesheet" href="{% static "admin/css/create_text.css" %}"/>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "admin/js/create_text.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block body %}
    <script src="load_elm.js"></script>
{% endblock %}
