{% extends "load_elm_base.html" %}
{% block port_functions %}

    {{ block.super }}

    function selectAllText(elem_id) {
        var input = document.getElementById(elem_id);

        if (input) {
            input.focus();
            input.setSelectionRange(0, -1);
        }
    }

    function clearInputText(elem_id) {
        var input = document.getElementById(elem_id);

        if (input) {
            input.value = '';
        }
    }

    function sendSelectedText() {
         // wrap call in requestAnimationFrame to ensure that Elm has time to finish refreshing the view
         window.requestAnimationFrame(function (timestamp) {
             var selected_obj = window.getSelection();
             var selection_text = null;

             var tokens = [];

             if (selected_obj.rangeCount > 0) {
                 var first_range = selected_obj.getRangeAt(0);
                 var last_range = selected_obj.getRangeAt(selected_obj.rangeCount-1);

                 var start_container = first_range.startContainer;

                 var i = first_range.startOffset+1;

                 var elem = start_container.childNodes[i];

                 if (elem) {
                     while (elem != last_range.endContainer.parentElement) {
                          var token = elem.getAttribute('token');

                          if (token != '') {
                               tokens.push(token);
                          }

                          i++;
                          elem = start_container.childNodes[i];
                     }
                 }
             }

             if (tokens.length > 0) {
                  selection_text = tokens.join(' ');
             }

             app.ports.selectedText.send(selection_text);
         });
    }

    document.onmouseup = sendSelectedText;

    app.ports.selectAllInputText.subscribe(function (elem_id) {
        // wrap call in requestAnimationFrame to ensure that Elm has time to finish refreshing the view
        window.requestAnimationFrame(function (timestamp) {
            selectAllText(elem_id);
        });
    });

    app.ports.ckEditor.subscribe(function (elem_id) {
        // wrap call in requestAnimationFrame to ensure that Elm has time to finish refreshing the view
        window.requestAnimationFrame(function (timestamp) {
            if (CKEDITOR) {
                // implicit detach
                if (CKEDITOR.instances[elem_id]) {
                    CKEDITOR.instances[elem_id].destroy();
                }

                CKEDITOR.inline(elem_id).on("change", function (evt) {
                    app.ports.ckEditorUpdate.send([elem_id, evt.editor.getData()]);
                });
            }
        });
    });

    app.ports.addClassToCKEditor.subscribe(function ([ckeditor_instance, class_name]) {
        // wrap call in requestAnimationFrame to ensure that Elm has time to finish refreshing the view
        window.requestAnimationFrame(function (timestamp) {
           if (CKEDITOR) {
               var elem = document.getElementById(ckeditor_instance).nextSibling;

               if (elem) {
                    elem.classList.add(class_name);
               }
           }
        });
    });

    app.ports.ckEditorSetHtml.subscribe(function ([elem_id, html]) {
        // wrap call in requestAnimationFrame to ensure that Elm has time to finish refreshing the view
        window.requestAnimationFrame(function (timestamp) {
            if (CKEDITOR) {
                CKEDITOR.instances[elem_id].setData(html);
            }
        });
    });

    app.ports.confirm.subscribe(function (msg) {
        // wrap call in requestAnimationFrame to ensure that Elm has time to finish refreshing the view
        window.requestAnimationFrame(function (timestamp) {
            var confirm = window.confirm(msg);
            app.ports.confirmation.send(confirm);
        });
    });

{% endblock %}