{% extends "base_unauthed.html" %}
{% load i18n %}

{% block content %}
    {{ block.super }}
    <div id="body">
    <div id="acknowledgements">
    <div id="title">Acknowledgements</div>
    {% blocktrans %}
        <p>
        This site is being developed at Portland State University by the Russian Flagship Center under the Collaborative
        Technology Innovation Initiative with funding from
        the <a href="https://www.iie.org/">Institute of International Education</a> (IIE) funded
        by <a href="https://www.thelanguageflagship.org/">The Language Flagship</a>
        for the period September 2017-August 2019.
        </p>

        <p>
        The Project Director is William J. Comer (Portland State University, Russian Flagship),
        the Project Manager is Ms. Hannah Verbruggen, and the Website Developer is Mr. Andrew Silvernail.
        Texts and questions for the site were selected through the collective efforts of Dr. Anna Kudyma and
        Elena Skudskaia (UCLA, Russian Flagship), Dr. Anna Tumarkin (University of Wisconsin-Madison, Russian Flagship),
        and Dr. Irina Walsh (Bryn Mawr College, Russian Flagship). Dr. Julio Rodríguez and Aitor Arronte Alvarez from
        the Language Flagship Technology Innovation Center at the University of Hawaii and Dr. Jonathan Perkins from the
        University of Kansas provided much useful technical assistance and advice in developing and realizing this
        project. Questions and comments should be addressed to <a href="mailto:ereader@pdx.edu">ereader@pdx.edu</a>.
        </p>

        <p>
        The Language Flagship is a public/private partnership sponsored by the National Security Education Program
        (NSEP) of the Department of Defense and administered by the Institute of International Education (IIE).
        The contents of this website do not necessarily reflect the position or policy of the government or IIE and
        no official Government or IIE endorsement should be inferred.
        </p>
    {% endblocktrans %}
    </div>
    </div>
{% endblock %}